body {
  /* background-image: linear-gradient(120deg, #feb78c, #e5678f); */
  background-color: #faf9f9;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
#helpage{
  font-family: "Montserrat", serif;
  font-size:2rem;
}
.dark {
  background-color: #1e2228;
  color: #ffffff;
}

.change {
  cursor: pointer;
}

/* Navbar  */

.navbar a {
  color: #ffffff;
}

.navbar-nav {
  margin-left: auto;
}

.navbar-brand {
  padding: 15px;
  font-size: 20px;
}

.nav-item {
  padding: 0 10px;
  margin: auto;
}

.dark-mode-toggle-button {
  padding: 10px;
}

#responsive-navbar-toggle {
  border: 2px solid #fff;
  align-content: center;
  /* background-image: linear-gradient(120deg, #feb78c, #e5678f); */
}
/* container */

.container-styles {
  margin: 0.5% auto;
}

.container-content-styles {
  text-align: center;
  font-size: 3rem;
  font-family: "Montserrat", serif;
  background-color: #488b8f;
  color: #ffffff;
}

.dark-nav {
  background-color: #2d333b;
  color: #ffffff;
}
.light-nav {
  background-color: #488b8f;
  color: #ffffff;
}

.dropdown-item {
  right: 0;
}

.dropdown-menu a {
  color: #888888;
}

.dropdown-menu a:hover {
  color: #000;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.fa {
  margin: 4% auto;
  font-size: 25px;
  cursor: pointer;
}

.fa:hover {
  animation: animationForSearchBar;
  animation-duration: 0.2s;
  box-shadow: 100px;
  animation-fill-mode: forwards;
  border-radius: 4px;
}

.weatherForecast {
  width: 48%;
  margin: 0 auto;
  /* padding-top: 50px; */
}

.search {
  display: table;
  margin: 0 auto;
  width: 50%;
}

.searchBar:hover {
  animation: animationForSearchBar;
  animation-duration: 0.2s;
  box-shadow: 100px;
  animation-fill-mode: forwards;
  background-color: #222831c7;
}

@keyframes animationForSearchBar {
  from {
    background-color: #30475e00;
  }

  to {
    background-color: #22283148;
  }
}

.searchButton {
  display: inline-block;
  cursor: pointer;
  width: 40%;
}

.bookmarkElement {
  display: inline-block;
  margin: 10px;
  border-radius: 50%;
}

.light-icon {
  background-color: #bccecf;
}

.dark-icon {
  background-color: #2d333b;
}

.icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 60%;
  border-radius: 15%;
}

/* .bookmarkElement:hover {
  animation: animationForHoveringIcon;
  animation-duration: 0.4s;
  box-shadow: 100px;
  animation-fill-mode: forwards;
  background-color: #0066ffc7;
} */
/* @keyframes animationForHoveringIcon {
  from {
    background-color: #30475e52;
  }

  to {
    background-color: #222831c7;
  }
} */
/* this has been causing misalignments */
.col-4 {
  text-align: center;
  margin: auto;
}

img {
  margin: 9px;
}

img:hover {
  cursor: pointer;
  transition: 0.1s ease-in-out;
  transform: scale(1.3, 1.3);
  transition: all 0.1s ease-in-out;
}

/* footer */
.footer {
  margin-top: 80px;
  padding: 50px;
  /* font-size: 1.5rem; */
  /* font-family: "Great Vibes", cursive; */
  font-weight: 100;
}

.dark-footer {
  background-color: #2d333b;
  color: #ffffff;
}

.light-footer {
  background-color: #488b8f;
  color: #ffffff;
}
