body {
  text-align: center;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}

#helpage {
  font-size: 1.7rem;
}

.light,
.light.navbar a {
  background-color: #ececec;
  color: #000;
}

.dark,
.dark.navbar a {
  background-color: #1f2329;
  color: #fff;
}

.light-neo {
  background-color: #ececec;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.6),
    10px 10px 15px rgba(70, 70, 70, 0.1);
}

.dark-neo {
  background: #1f2329;
  box-shadow: 6px 6px 12px #0f111465, -6px -6px 12px #2f353e50;
}

.container-fluid {
  padding: 0 30px;
}

/* Navbar  */

.navbar-nav {
  margin-left: auto;
}

.navbar-brand {
  padding: 15px;
  font-size: 20px;
}

.nav-item {
  padding: 0 10px;
  margin: auto;
}

#dark-mode-toggle {
  display: inline-block;
  padding: 10px;
}

#dark-mode-toggle-button {
  display: inline-block;
}

#settings {
  display: inline-block;
  padding: 10px 5px;
}

#salutation {
  font-size: 2rem;
}

/* dropdown */

.dropdown-menu.light a {
  color: rgb(175, 175, 175);
}

.dropdown-menu.dark a {
  color: rgb(104, 104, 104);
}

.dropdown-menu.light a:hover {
  color: #000;
}

.dropdown-menu.dark a:hover {
  color: #fff;
}

.dropdown:hover .dropdown-menu {
  display: block;
  /* for dropdown on hover */
  right: 1px;
}

/* searchBar */
.search {
  display: table;
  margin: 30px auto;
  width: 45%;
}

.searchBar {
  border: none;
}

.searchButton {
  display: inline-block;
  cursor: pointer;
  width: 15%;
  border: none;
}

/* icons */
.icons {
  display: inline-block;
  margin: 15px;
  border-radius: 50%;
}

img {
  margin: 10px;
}

img:hover {
  cursor: pointer;
  transition: 0.1s ease-in-out;
  transform: scale(1.1, 1.1);
  transition: all 0.1s ease-in-out;
}

/* footer */
.footer {
  margin: 40px 0 80px;
  padding: 10px;
  font-weight: 100;
}